.header-main-div {
  width: 100%;
  background-color: #6342d9;
  display: flex;
  flex-wrap: wrap;
  color: white;
  padding: 0 10px;
  justify-content: space-between;
  box-sizing: border-box;
}
.header-main-div p {
  font-weight: 900;
  font-size: 25px;
  margin: 3% 0px;
  margin-top: 10px;
}
.header-main-div li {
  display: inline-block;
  margin-right: 20px;
}
.header-main-div a {
  color: inherit;
}
a{
  text-decoration: none;
}
a:hover{
  color: black;
  text-decoration: underline;
}